<div class="game-container">
  <div class="guess-container">
    <div class="guess-boxes" *ngFor="let attempt of attempts">
      <div
        class="guess-box"
        *ngFor="let guess of attempt; let i = index"
        [ngClass]="guess.color"
        [ngStyle]="{
          animation: 'slideIn ' + (i * 0.2 + 0.2) + 's ease-in'
        }"
      >
        {{ guess.letter }}
      </div>
    </div>

    <div class="guess-boxes" *ngIf="attempts.length < maxAttempts">
      <div class="guess-box" *ngFor="let letter of guessArray">
        @if (!gameEnded) {
        {{ letter }}
        }
      </div>
    </div>

    <div class="guess-boxes" *ngFor="let emptyAttempt of getEmptyAttemptRows()">
      <div class="guess-box" *ngFor="let empty of emptyAttempt"></div>
    </div>
  </div>

  <div class="confetti-container" *ngIf="gameEnded && isWinner">
    <div
      *ngFor="let confetti of confettiArray"
      class="confetti"
      [ngStyle]="{
        left: confetti.left,
        top: confetti.top,
        width: confetti.width,
        height: confetti.height,
        'background-color': confetti.backgroundColor,
        'animation-delay': confetti.animationDelay,
        
      }"
    ></div>
  </div>

  <app-keyboard
    (letterClicked)="handleKeyboardInput($event)"
    [keyboardLetterColors]="keyboardLetterColors"
  ></app-keyboard>
</div>
