<ion-content>
  <div class="game-container">
    <!-- Denemeler -->
    <div class="guess-boxes" *ngFor="let attempt of attempts">
      <div
        class="guess-box"
        *ngFor="let guess of attempt"
        [ngClass]="guess.color"
      >
        {{ guess.letter || "_" }}
      </div>
    </div>

    <!-- Mevcut Tahmin Kutucukları -->
    <div class="guess-boxes" *ngIf="attempts.length < maxAttempts">
      <div class="guess-box" *ngFor="let letter of guessArray">
        {{ letter || "_" }}
      </div>
    </div>

    <!-- Boş Deneme Kutucukları -->
    <div class="guess-boxes" *ngFor="let emptyAttempt of getEmptyAttemptRows()">
      <div class="guess-box" *ngFor="let empty of emptyAttempt">_</div>
    </div>

    <!-- Klavye -->
    <app-keyboard (letterClicked)="handleKeyboardInput($event)"></app-keyboard>
  </div>
</ion-content>
