<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon
          color="primary"
          size="large"
          name="game-controller"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="medium" name="alert-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="medium" name="bar-chart"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="medium" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
