.keyboard {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    display: flex;
    margin-bottom: 5px;

    button {
      background: #333;
      color: #fff;
      width: 40px;
      height: 40px;
      margin: 2px;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: #444;
      }
    }

    @media screen and (max-width: 600px) {
      button {
        width: 30px;
        height: 40px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    button {
      background: #333;
      color: #fff;
      width: 100%;
      margin: 0 5px;
      padding: 5px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: #444;
      }

      ion-icon {
        font-size: 24px;
      }
    }
  }
}

button.green {
  background-color: #6aaa64 !important;
  border-color: #6aaa64 !important;
}

button.yellow {
  background-color: #c9b458 !important;
  border-color: #c9b458 !important;
}

button.gray {
  background-color: #1b1b1b !important;
  border-color: #1b1b1b !important;
}
