<div class="keyboard">
  <div class="row">
    <button
      *ngFor="let letter of row1"
      (click)="onLetterClick(letter)"
      [ngClass]="getColorForKey(letter)"
    >
      {{ letter }}
    </button>
  </div>
  <div class="row">
    <button
      *ngFor="let letter of row2"
      (click)="onLetterClick(letter)"
      [ngClass]="getColorForKey(letter)"
    >
      {{ letter }}
    </button>
  </div>
  <div class="row">
    <button
      *ngFor="let letter of row3"
      (click)="onLetterClick(letter)"
      [ngClass]="getColorForKey(letter)"
    >
      {{ letter }}
    </button>
  </div>
  <div class="actions">
    <button (click)="onDeleteClick()">
      <ion-icon name="backspace-outline"></ion-icon>
    </button>
    <button (click)="onSubmitClick()">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </button>
  </div>
</div>
